
<div id="contract_search">
    <h1>Contract Search</h1>

    <!-- <img src="assets/CircularProgressAnimation.gif" ng-show="data.in_progressing"/> -->

    <div ng-class="{true: 'loader', false: ''}[data.in_progressing]"></div>

    <form ng-submit="submit()">
        <div class="onediv">
          <label for="company">Company:  </label>
          <input type="text" id="company" ng-model="data.company">

          <br><br>

          <label for="contract_text">Contract text:  </label>
          <input type="text" id="contract_text" ng-model="data.contract_text">
        </div>

        <div class="onediv">
            <label for="parties">Parties:  </label>
            <select multiple id="parties" ng-model="data.select_contact_parties" ng-options="t as t for t in data.contract_parties"></select>
            {{data.select_contact_parties}}
            <br><br>

            <label for="contract_type">Contract Type:  </label>
            <select multiple  id="contract_type" ng-model="data.select_contract_types" ng-options="t as t for t in data.contract_types"></select>
            {{data.select_contract_types}}
        </div>
        <br><br>

        <div class="onediv">
            <label>Contract Date:   </label>
            <ul><label for="from" id>From</label>
            <input type="date" id="from" ng-model="data.from"></input></ul>
            {{data.from}}
            <ul><label for="until">Until</label>
            <input type="date" id="until"  ng-model="data.until"></input></ul>
            {{data.until}}
        </div>

        <div align="center">
            <input type="submit" value="Submit">
        <div>


       <!--  <div>

            <input type="button" onclick="tableToExcel('toexcel', 'name', 'myfile.xls')" value="Export to Excel"></input><br>
            <label> *notice: need to add ".xls" by user when user download</label>
        </div> -->


        <div>
        <button type="button" ng-csv="data.contract_result" csv-header="['Agreement','Contract type','Contract Date','Parties']" filename="test.csv">Export to csv</button>
        {{data.header}}
      </div>

    </form>

    <hr>




    <div style="overflow:auto;">

        <table id="tblExport2" border=1>
            <tr>
                <th ng-repeat="(key, val) in data.contract_result[0]">{{key}}</th>
            </tr>
            <tr ng-repeat="item in data.contract_result">
                <td ng-repeat="(key, value) in item">{{value}}</td>
            </tr>
        </table>
    </div>

</div>
