<div id="alliance_search">
  <h1>Alliance Search</h1>

  <div ng-class="{true: 'loader', false: ''}[data.in_progressing]"></div>

  <form ng-submit="submit()" id="myform">

    <div id="resetbutton" >
      <input type="reset" value="Reset form">
    <div>
    
    <div class="onediv">
      <label for="company">Company:  </label>
      <input type="text" id="company" ng-model="data.company">

      <br><br>

      <label for="subject">Subject:  </label>
      <input type="text" id="subject" ng-model="data.subject">
    </div>

    <div class="onediv">
    <label>Parties: </label>
    <select multiple id="parties" class="parties" ng-model="data.select_alliance_parties" ng-options="t as t for t in input.alliance_parties"></select>
    {{data.select_alliance_parties}}
    <br><br>

    <label>Alliance Type: </label>
    <select multiple  id="alliance_types" class="alliance_types" ng-model="data.select_alliance_types" ng-options="t as t for t in input.alliance_types"></select>
    {{data.select_alliance_types}}
    <label> "Acquisition","Asset Purchase","Assignment","Co-Development","Co-Market","Co-Promotion","Collaboration","Cross-license","Development","Distribution","Equity","Joint Venture","Letter of Intent","License","Loan","Manufacturing","Marketing","Merger","Option","Research","Security","Settlement","Sublicense","Supply","Termination","Warrant"</label>

    <br><br>

    <label>Technology: </label>
    <select multiple  id="alliance_technologies"  class="alliance_technologies" ng-model="data.select_alliance_technologies" ng-options="t as t for t in input.alliance_technologies"></select>
    {{data.select_alliance_technologies}}
    <br ng-init="init"><br>



     <label>Stage: </label>
    <select multiple id="alliance_stages" class="alliance_stages" ng-model="data.select_alliance_stages" ng-options="t as t for t in input.alliance_stages"></select>
    {{data.select_alliance_stages}}
  </div>
    <br><br>
     <!-- checkbox -->
    <div class="onediv">
      <input type="checkbox" name="checkbox_sth" value="filed_contracts"> Filed Contracts</input>
      <input type="checkbox" name="checkbox_sth" value="deal_snapshot"> Deal Snapshot</input>
      <input type="checkbox" name="checkbox_sth" value="financials_disclosed"> Financials Disclosed</input><br><br>
    </div>

    <!-- Agreement Date:  -->
  <div class="onediv">
    <div class="manydiv">
    <label>Agreement Date:  </label>
      <ul>
        <label for="agreement_from"> From </label><br>
        <input type="date" id="agreement_from" ng-model='data.agreement_from'></input>
      </ul>
      <ul>
        <label for="agreement_to"> To </label><br>
        <input type="date" id="agreement_to" ng-model='data.agreement_to'></input>
      </ul>
    </div>

    <div class="manydiv">
      <label>Deal Size:  </label>
        <ul>
          <label for="deal_size_greater"> Greater than $ </label>
          <input type="number" id="deal_size_greater" ng-model="data.deal_size_greater"> M</input>
        </ul>
        <ul><label for="deal_size_less"> Less than $</label><br>
        <input type="number" id="deal_size_less" ng-model="data.deal_size_less"> M</input></ul>
    </div>

    <div class="manydiv">
      <label>Upfront Payment:  </label>
        <ul><label for="upfront_greater"> Greater than $ </label>
        <input type="number" id="upfront_greater" ng-model="data.upfront_greater"> M</input></ul>
        <ul><label for="upfront_less"> Less than $</label><br>
        <input type="number" id="upfront_less" ng-model="data.upfront_less"> M</input></ul>
    </div>

    <div class="manydiv">
      <label>Royalty Rate:  </label>
        <ul><label for="royalty_greater"> Greater than $ </label>
        <input type="number" id="royalty_greater" ng-model="data.royalty_greater"> %</input></ul>
        <ul><label for="royalty_less"> Less than $</label><br>
        <input type="number" id="royalty_less" ng-model="data.royalty_less"> %</input></ul>
    </div>

    <div class="manydiv">
      <label>Equity:  </label>
        <ul><label for="equity_greater"> Greater than $</label>
        <input type="number" id="equity_greater" ng-model="data.equity_greater"> M</input></ul>
        <ul><label for="equity_less"> Less than $</label><br>
        <input type="number" id="equity_less" ng-model="data.equity_less"> M</input></ul>
    </div>

    <div class="manydiv">
      <label>R&D Payment:  </label>
        <ul><label for="rd_payment_greater"> Greater than $</label>
        <input type="number" id="rd_payment_greater" ng-model="data.rd_payment_greater"> M</input></ul>
        <ul><label for="rd_payment_less"> Less than $</label><br>
        <input type="number" id="rd_payment_less" ng-model="data.rd_payment_less"> M</input></ul>
    </div>

    <div class="manydiv">
      <label>Total Milestone Payment:  </label>
        <ul><label for="total_milestone_payment_greater"> Greater than $</label>
        <input type="number" id="total_milestone_payment_greater" ng-model="data.total_milestone_payment_greater"> M</input></ul>
        <ul><label for="total_milestone_payment_less"> Less than $</label><br>
        <input type="number" id="total_milestone_payment_less" ng-model="data.total_milestone_payment_less"> M</input></ul>
    </div>


    <div class="manydiv">
      <label>Profit Split:  </label>
        <ul><label for="profit_split_greater"> Greater than $</label>
        <input type="number" id="profit_split_greater" ng-model="data.profit_split_greater"> %</input></ul>
        <ul><label for="profit_split_less"> Less than $</label><br>
        <input type="number" id="profit_split_less" ng-model="data.profit_split_less"> %</input></ul>
    </div>
  </div>



  <div class="onediv" >
    <h4> Therapeutic Area :</h4>
      <div class="manydiv2">
      <label>Allergic:  </label>
        <select multiple id="alliance_allergic" class="alliance_allergics" ng-model="data.select_alliance_allergic" ng-options="t as t for t in input.alliance_allergic"></select>
      </div>

      <div class="manydiv2">
      <label>Autoimmune:  </label>
        <select multiple id="alliance_autoimmune" class="alliance_autoimmunes" ng-model="data.select_alliance_autoimmune" ng-options="t as t for t in input.alliance_autoimmune"></select>
      </div>

      <div class="manydiv2">
      <label>Bone Disease:  </label>
        <select multiple id="alliance_bone" class="alliance_bones" ng-model="data.select_alliance_bone" ng-options="t as t for t in input.alliance_bone"></select>
      </div>

      <div class="manydiv2">
      <label>Cancer: </label>
        <select multiple id="alliance_cancer" class="alliance_cancers" ng-model="data.select_alliance_cancer" ng-options="t as t for t in input.alliance_cancer"></select>
      </div>

      <div class="manydiv2">
      <label>Cardiovascular: </label>
        <select multiple id="alliance_cardi" class="alliance_cardis" ng-model="data.select_alliance_cardi" ng-options="t as t for t in input.alliance_cardi"></select>
      </div>

      <div class="manydiv2">
      <label>Central Nervous System:  </label>
        <select multiple id="alliance_centr" class="alliance_centrs" ng-model="data.select_alliance_centr" ng-options="t as t for t in input.alliance_centr"></select>
      </div>

      <div class="manydiv2">
      <label>Dental/Oral:  </label>
        <select multiple id="alliance_dental" class="alliance_dentals" ng-model="data.select_alliance_dental" ng-options="t as t for t in input.alliance_dental"></select>
      </div>

      <div class="manydiv2">
      <label>Dermatologic:  </label>
        <select multiple id="alliance_derma" class="alliance_dermas" ng-model="data.select_alliance_derma" ng-options="t as t for t in input.alliance_derma"></select>
      </div>

      <div class="manydiv2">
      <label>Endocrinological:  </label>
        <select multiple id="alliance_endoc" class="alliance_endocs" ng-model="data.select_alliance_endoc" ng-options="t as t for t in input.alliance_endoc"></select>
      </div>

      <div class="manydiv2">
      <label>Gastrointestinal:  </label>
        <select multiple id="alliance_gastro" class="alliance_gastros" ng-model="data.select_alliance_gastro" ng-options="t as t for t in input.alliance_gastro"></select>
      </div>

      <div class="manydiv2">
      <label>Genitourinary:  </label>
        <select multiple id="alliance_genit" class="alliance_genits" ng-model="data.select_alliance_genit" ng-options="t as t for t in input.alliance_genit"></select>
      </div>

      <div class="manydiv2">
      <label>Hematologic:  </label>
        <select multiple id="alliance_hemato" class="alliance_hematos" ng-model="data.select_alliance_hemato" ng-options="t as t for t in input.alliance_hemato"></select>
      </div>

      <div class="manydiv2">
      <label>Infectious-Bacterial:  </label>
        <select multiple id="alliance_infectb" class="alliance_infectbs" ng-model="data.select_alliance_infectb" ng-options="t as t for t in input.alliance_infectb"></select>
      </div>

      <div class="manydiv2">
      <label>Infectious-Viral:  </label>
        <select multiple id="alliance_infectv" class="alliance_infectvs" ng-model="data.select_alliance_infectv" ng-options="t as t for t in input.alliance_infectv"></select>
      </div>

      <div class="manydiv2">
      <label>Infectious-Misc:  </label>
        <select multiple id="alliance_infectm" class="alliance_infectms" ng-model="data.select_alliance_infectm" ng-options="t as t for t in input.alliance_infectm"></select>

      </div>

      <div class="manydiv2">
      <label>Liver &amp; Gallbladder Disease: </label>
        <select multiple id="alliance_liver" class="alliance_livers" ng-model="data.select_alliance_liver" ng-options="t as t for t in input.alliance_liver"></select>
      </div>

      <div class="manydiv2">
      <label>Ophthalmic: </label>
        <select multiple id="alliance_opht" class="alliance_ophts" ng-model="data.select_alliance_opht" ng-options="t as t for t in input.alliance_opht"></select>
      </div>

      <div class="manydiv2">
      <label>Psychiatric: </label>
        <select multiple id="alliance_psy" class="alliance_psys" ng-model="data.select_alliance_psy" ng-options="t as t for t in input.alliance_psy"></select>
      </div>

      <div class="manydiv2">
      <label>Renal: </label>
        <select multiple id="alliance_renal" class="alliance_renals" ng-model="data.select_alliance_renal" ng-options="t as t for t in input.alliance_renal"></select>
      </div>

      <div class="manydiv2">
      <label>Respiratory: </label>
        <select multiple id="alliance_resp" class="alliance_resps" ng-model="data.select_alliance_resp" ng-options="t as t for t in input.alliance_resp"></select>
      </div>

      <div class="manydiv2">
      <label>Transplantation: </label>
        <select multiple id="alliance_trans" class="alliance_trans" ng-model="data.select_alliance_trans" ng-options="t as t for t in input.alliance_trans"></select>
      </div>

      <div class="manydiv2">
      <label>Other: </label>
        <select multiple id="alliance_other" class="alliance_others" ng-model="data.select_alliance_other" ng-options="t as t for t in input.alliance_other"></select>
      </div>
  </div>

  <div class="onediv">
    <h4>Licensed Territory: </h4>
      
      <div>
        <input type="radio" name="region" value="worldwide" > Worldwide </input>
        <input type="radio" name="region" value="reginal" > Regional Territory</input>
      </div> 
      <div class="regional_show">
        <div class="manydiv2">
          <label>Asia:  </label>
          <select multiple id="alliance_asia" class="alliance_asia" ng-model="data.select_alliance_asia" ng-options="t as t for t in input.alliance_asia">
          </select>
        </div>

        <div class="manydiv2">
          <label>Africa:  </label>
          <select multiple id="alliance_africa" class="alliance_africa" ng-model="data.select_alliance_africa" ng-options="t as t for t in input.alliance_africa">
          </select>
        </div>


        <div class="manydiv2">
          <label>Europe:  </label>
          <select multiple id="alliance_europe" class="alliance_europe" ng-model="data.select_alliance_europe" ng-options="t as t for t in input.alliance_europe">
          </select>
        </div>


        <div class="manydiv2">
          <label>Mideast:  </label>
          <select multiple id="alliance_mideast" class="alliance_mideast" ng-model="data.select_alliance_mideast" ng-options="t as t for t in input.alliance_mideast">
          </select>
        </div>


        <div class="manydiv2">
          <label>North America:  </label>
          <select multiple id="alliance_northamerica" class="alliance_northamerica" ng-model="data.select_alliance_northamerica" ng-options="t as t for t in input.alliance_northamerica">
          </select>
        </div>


        <div class="manydiv2">
          <label>South America:  </label>
          <select multiple id="alliance_southamerica" class="alliance_southamerica" ng-model="data.select_alliance_southamerica" ng-options="t as t for t in input.alliance_southamerica">
          </select>
        </div>


      </div>      <!-- reginal show -->

      <br>
      

      <div style="font-style: italic; font-weight: bold;">
        <p> **NOTE: Territory data is not indexed for all deals. Some territory data may also be retrieved by using the “Subject Text Search” box at the top of this page.
        </p>
      </div>





  </div>


  <div class="onediv" id="yoo">
     <h4>Contractual Data: </h4>

      <div class="manydiv2">
          <label>Disclosure of Terms: </label>
          <select multiple id="alliance_disclosure" class="alliance_disclosure" ng-model="data.select_alliance_disclosure" ng-options="t as t for t in input.alliance_disclosure">
          </select>
      </div>

      <div class="manydiv2">
          <label>License Exclusivity:  </label>
          <select multiple id="alliance_exclusiv" class="alliance_exclusiv" ng-model="data.select_alliance_exclusiv" ng-options="t as t for t in input.alliance_exclusiv">
          </select>
      </div>


  </div>




    <div class="bottom" align="center">

      <input type="submit" value="Submit"><!-- submit button -->


    <!-- <div align="center">

      <input type="button" onclick="tableToExcel('toexcel2', 'name', 'myfile.xls')" value="Export to Excel"></input><br>
      <label> *notice: need to add ".xls" by user when user download</label>
    </div>
 -->
    <!-- <a href="#" class="export">Export Table data into Excel</a> -->

    <div>
        <button type="button" ng-csv="data.alliance_result" csv-header="['Alliance Summary','Has Analysis','Has Contract','Licensor/Seller','Licensee/Buyer','Date','Amendment Date','Type','Stage','Subject','Size','Upfront','Equity','RD Amt','Tot Milestone Amt','AdjMilestone Amt','Sales Milestones','Royalty','Profit Split','Transfer Price','Marketing Fee','Disease','Condition','Technology','License Region','License Country','Exclusivity','Parties']" filename="test.csv">Export to csvv</button>
        {{data.header}}
    </div>
  
  </div>


  </form>

<!-- JAVASCRIPT FOR KEY IN OBJ -->
  <hr>
  <div style="overflow:auto;">
    <table border=1 id="tblExport">
        <tr>
            <th ng-repeat="(key, val) in data.alliance_result[0]">{{key}}</th>
        </tr>
        <tr ng-repeat="item in data.alliance_result">
            <td ng-repeat="(key, value) in item">{{value}}</td>
        </tr>
    </table>
  </div>

</div>
